.comment {
    &--form {
        position: relative;
        display: flex;
        flex-direction: column;
        margin-top: 16px;
    }
}

.btn-submit {
    display: block;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 3fr;
}

.input {
    &--facebook-style {
        max-width: 610px;
        flex-grow: 1;
        outline: unset;
        padding-left: 6px;
        margin: auto;
    }
}

.form-group {
    &--facebook-style {
        position: relative;
        background-color: rgba(226, 226, 226, 0.623);
        border-radius: 40px;
        padding: 8px;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        flex-wrap: wrap;
        width: 100%;
        z-index: 10;
    }
}
.text {
    position: absolute;
    z-index: -1;
    left: 13px;
}
.row {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.end {
    display: flex;
    justify-content: space-between;
}

.grid--facebook {
    display: grid;
    grid-template-columns: 1fr 12fr;
    align-items: flex-start;
}

.col1 {
    columns: 1;
}
.col2 {
    columns: 2;
    display: flex;
    align-items: center;
    margin: auto;
    width: 100%;
    padding-left: 2%;
}

.mat-button--custom {
    min-width: unset;
    line-height: unset;
    padding: unset;
    margin-right: 10px;
}
.mat-icon--custom {
    color: grey;

    &:hover {
        color: rgba(0, 119, 255, 0.678);
    }
}

.displayNone {
    display: none;
}

.cancel--comment {
    margin-left: 70px;
}
