<form
    class="comment--form"
    *ngIf="userService.currentUser$ | async as user"
    [formGroup]="commentForm"
    (ngSubmit)="onSubmit()"
>
    <div class="grid--facebook">
        <a
            routerLink="../profile"
            class="col1"
        >
            <img
                *ngIf="user.media"
                mat-card-avatar
                title="go to your profile"
                [src]="user.media"
                alt=" thumbmail from {{user.firstname}}"
            >
            <img
                *ngIf="!user.media"
                mat-card-avatar
                title="go to your profile"
                src="../../../assets/thumb-1920-156845.jpg"
                alt=" default thumbmail"
            >
        </a>
        <div class="col2 ">

            <div class="form-group form-group--facebook-style ">
                <div
                    contenteditable="true"
                    (input)="onContentChange($event.target.textContent)"
                    name="text"
                    type="text"
                    class="form-control input--facebook-style"
                >
                    {{preloadData ? preloadData : ""}}
                </div>
                <span
                    class="text"
                    [ngClass]="{'displayNone': commentForm.get('body').value }"
                >
                    Write a comment...
                </span>

                <div class="btn-submit end">
                    <button
                        class="mat-button--custom"
                        mat-button
                        (click)="fileInput.click();$event.preventDefault()"
                    >
                        <mat-icon class="mat-icon--custom">camera_alt</mat-icon>
                    </button>
                    <button
                        [disabled]="commentForm.invalid"
                        class="mat-button--custom"
                        mat-button
                        (click)="onSubmit();$event.preventDefault()"
                    >
                        <mat-icon
                            class="mat-icon"
                            [ngClass]="{'displayNone': commentForm.invalid}"
                        >
                            send
                        </mat-icon>
                    </button>

                </div>
            </div>
        </div>

    </div>

    <div class="form-group container--comment-form">
        <img
            class="image--comment-form"
            [src]="imagePreview"
            *ngIf="imagePreview"
        >
        <button
            class="btn--comment-form__canceled"
            (click)="onDeleteImage();$event.preventDefault()"
            *ngIf="imagePreview"
        >
            <mat-icon class="icon--comment-form__canceled">close</mat-icon>
        </button>
        <input
            class='none'
            type="file"
            accept="image/*"
            #imageInput
            (change)="onFileAdded($event);$event.preventDefault()"
            #fileInput
            required
        >

    </div>
    <span
        class="cancel--comment"
        *ngIf="currentComment"
        (click)="onModifyCanceled($event)"
    >
        click here to
        <span class="link--comment-form__canceled">cancel</span>
    </span>
    <p
        class="text-danger"
        *ngIf="errorMsg"
    >
        {{ errorMsg }}
    </p>
</form>
