<mat-spinner *ngIf="loading"></mat-spinner>
<div
    class="container container--grid"
    *ngIf="currentUser | async as user"
>
    <div class="container__first-block">
        <span class="container__first-block__filter"></span>
        <div class="container-image">
            <img
                class="container-image__image"
                *ngIf="user.media"
                [src]="user.media"
                alt="profile picture"
            >
            <img
                class="container-image__image"
                *ngIf="!user.media"
                src="../../../assets/thumb-1920-156845.jpg"
                alt="default profile picture"
            >
            <button
                mat-button
                class="container-image__btn-upload"
            >
                <mat-icon class="container-image__btn-upload__icon">add_a_photo</mat-icon>
            </button>
        </div>
    </div>
    <div class="container__seconde-block"></div>
</div>
