<mat-spinner *ngIf="loading"></mat-spinner>

<!-- linking card & publication written display -->
<mat-card
    class="publication-card-links"
    *ngIf="userService.currentUser$ | async as user"
>
    <div class="publication-card-links__text">
        <a routerLink="../profile">
            <img
                *ngIf="user.media"
                mat-card-avatar
                title="go to your profile"
                [src]="user.media"
                alt=" thumbmail from {{user.firstname}}"
            >
            <img
                *ngIf="!user.media"
                mat-card-avatar
                title="go to your profile"
                src="../../../assets/thumb-1920-156845.jpg"
                alt=" default thumbmail"
            >
        </a>
        <button
            mat-button
            (click)="openDialogCreatePublication();$event.preventDefault()"
            class="publication-card-links__text__button"
        >
            What would you say, {{user.firstname | titlecase}} ?
        </button>
    </div>
    <form class="publication-card-links__media">
        <input
            class='none'
            type="file"
            accept="image/*"
            (change)="preLoadMedia($event);$event.preventDefault()"
            #fileInput
            required
        >

        <button
            mat-button
            (click)="fileInput.click();$event.preventDefault()"
            class="custom-font-color"
        >
            <mat-icon class="custom-color">add_photo_alternate</mat-icon>
            Image/Video
        </button>
    </form>
</mat-card>

<!-- end -->

<!-- wall start -->

<p *ngIf="!loading && publications.length <= 0">Be the first one to post a Publication</p>
<p
    class="list-title"
    *ngIf="!loading && publications.length > 0"
>
</p>

<mat-card
    class="publication-card"
    *ngFor="let publication of publications;let publicationIndex = index;"
    [thePublication]="publication"
>
    <!-- condition to display publication -->
    <div *ngIf="publicationIndex !== currentPublicationIndex">
        <mat-card-header class="mat-card-header--grid">
            <img
                mat-card-avatar
                *ngIf="publication.user.media"
                class="user_thumbmail col1"
                [src]="publication.user.media"
                alt="profile image of {{publication.user.firstname}}"
            >
            <img
                mat-card-avatar
                *ngIf="!publication.user.media"
                class="user_thumbmail col1"
                src="../../assets/logos/Profile_avatar_placeholder_large.png"
                alt="default profile thumbmail"
            >
            <mat-card-title class="mat-card-title--custom">
                {{publication.user.firstname | titlecase}} {{publication.user.lastname | titlecase}}
            </mat-card-title>
            <mat-card-subtitle>
                {{publication.createdAt | date :'mediumDate'}}
            </mat-card-subtitle>

            <!-- boutons a cacher -->
            <button
                *ngIf="publication.isOwner"
                mat-icon-button
                [matMenuTriggerFor]="menu"
                aria-label="actions menu"
            >
                <mat-icon>more_horiz</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
                <button
                    mat-menu-item
                    (click)="openDialogModify(publication);$event.preventDefault()"
                >
                    <mat-icon>edit</mat-icon>
                    <span>Modify</span>
                </button>
                <button
                    mat-menu-item
                    (click)="onDeletePublication(publication)"
                >
                    <mat-icon>delete_forever</mat-icon>
                    <span>Delete</span>
                </button>
            </mat-menu>
        </mat-card-header>

        <mat-card-content>
            <h2>{{ publication.title | uppercase }}</h2>
            <p>{{publication.body}}</p>
        </mat-card-content>

        <img
            mat-card-image
            [src]="publication.media"
            alt="Photo of media"
        >
        <!-- 2.5 -->
        <button
            mat-button
            (click)="mep.expanded = !mep.expanded"
            class="mat-button--custom"
        >
            {{publication.nbrComments}} {{publication.nbrComments > 1 ? ' comments' : ' comment'}}
        </button>
        <!-- deuxieme partie -->
        <mat-card-actions>
            <button mat-button>
                LIKE
                <mat-icon>thumb_up_alt</mat-icon>
            </button>
            <button mat-button>
                DISLIKE
                <mat-icon>thumb_down_alt</mat-icon>
            </button>
            <button
                mat-button
                (click)="mep.expanded = !mep.expanded"
            >
                COMMENT
                <mat-icon>comment</mat-icon>
            </button>
        </mat-card-actions>
        <!-- 3eme partie -->

        <mat-accordion class="my-special-class">

            <!-- comment part -->
            <mat-expansion-panel
                #mep="matExpansionPanel"
                (opened)="panelOpenState = true"
                (closed)="panelOpenState = false"
            >
                <app-comment-form [currentPublication]="publication"></app-comment-form>

                <div *ngFor="let comment of publication.comments;let commentIndex = index">
                    <!-- debut -->
                    <div
                        class="card-header--comment card-header--grid"
                        *ngIf="!modifyCommentDisplay || modifyCommentDisplay && commentIndex !== currentComment && publicationIndex === currentPublication || publicationIndex !== currentPublication"
                    >
                        <img
                            mat-card-avatar
                            *ngIf="comment.user.media"
                            class="user_thumbmail col1 col1--comment"
                            [src]="comment.user.media"
                            alt="profile image of {{comment.user.firstname}}"
                        >
                        <img
                            mat-card-avatar
                            *ngIf="!comment.user.media"
                            class="user_thumbmail col1 col1--comment"
                            src="../../assets/logos/Profile_avatar_placeholder_large.png"
                            alt="default profile thumbmail"
                        >
                        <div class="column--comment">
                            <div class="content--comment">
                                <mat-card-title class="mat-card-title--custom mat-card-title--comment">
                                    {{comment.user.firstname | titlecase}} {{comment.user.lastname | titlecase}}
                                </mat-card-title>
                                <mat-card-content class="mat-card-content--comment">
                                    <p class="contenteditable--comment">{{comment.body}}</p>
                                </mat-card-content>

                            </div>
                            <img
                                class="image--comment"
                                *ngIf="comment.media"
                                mat-card-image
                                [src]="comment.media"
                                alt="Photo of publication"
                            >

                        </div>

                        <!-- boutons a cacher -->
                        <button
                            *ngIf="comment.isOwner"
                            mat-icon-button
                            [matMenuTriggerFor]="menu"
                            aria-label="Example icon-button with a menu"
                        >
                            <mat-icon>more_vert</mat-icon>
                        </button>
                        <mat-menu #menu="matMenu">
                            <button
                                mat-menu-item
                                (click)="onModifyComment(commentIndex, publicationIndex)"
                            >
                                <mat-icon>edit</mat-icon>
                                <span>Modify</span>
                            </button>
                            <button
                                mat-menu-item
                                (click)="onDeleteComment(comment)"
                            >
                                <mat-icon>delete_forever</mat-icon>
                                <span>Delete</span>
                            </button>
                        </mat-menu>
                    </div>

                    <!-- fin -->
                    <div class>

                        <!-- comment conditionnel -->
                        <app-comment-form
                            *ngIf="modifyCommentDisplay && commentIndex === currentComment && publicationIndex === currentPublication"
                            [currentComment]="comment"
                            (commentDisplayOff)=commentDisplayOff($event)
                        ></app-comment-form>

                    </div>
                </div>
            </mat-expansion-panel>
        </mat-accordion>

    </div>

</mat-card>
