.publication-card {
  max-width: 750px;
  margin: 20px auto;
}

.mat-form-field + .mat-form-field {
  margin-left: 8px;
}

.container {
  &--mat-image {
    width: 50%;
    margin: auto;
    display: flex;
    justify-content: center;
  }
}

.publication-create-card {
  max-width: 750px;
  width: 100%;
  margin: 1.5rem auto 0 auto;
  border-radius: 10px;

  &__text {
    display: grid;
    grid-template-columns: 40px 1fr;
    margin-bottom: 0.8rem;

    &__profile-thumbmail {
      grid-column: 1;
      border-radius: 50%;
    }

    &__button {
      margin-left: 10px;
      grid-column: 2;
      text-align: start;
      background-color: hsla(228, 22%, 95%, 1);
      border-radius: 2rem;
      color: rgb(138, 138, 138);
    }
  }
  &__media {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 0.8rem;
    margin-top: 0.8rem;
    border-top: hsla(228, 22%, 95%, 1) 1px solid;
  }
}

.custom-color {
  color: hsla(134, 48%, 51%, 1);
}
.custom-font-color {
  color: #65676b;
}

.mat-card-subtitle {
  margin-bottom: unset;
}

.mat-card-header {
  justify-content: space-between;
  margin-bottom: 1.1rem;
}

::ng-deep .mat-card-header-text {
  flex-grow: 1;
}

.mat-menu {
  display: flex;
  flex-direction: column;
}

.mat-expansion-panel-content > .mat-expansion-panel-body {
  padding: unset;
}

::ng-deep .mat-button-focus-overlay {
  background: unset;
  text-decoration: black;
  opacity: unset;
}

.mat-card-image {
  margin: 0 -16px 0 -16px;
}

.mat-card-actions {
  margin-bottom: unset;
  padding: 0.5rem 0;
  border-top: 0.1rem solid rgba(219, 219, 219, 0.822);
  border-bottom: 0.1rem solid rgba(219, 219, 219, 0.822);
}

.mat-expansion-panel:not([class*="mat-elevation-z"]) {
  box-shadow: unset;
}

/** debut comment container***/

.card-header--grid {
  display: flex;
  align-items: flex-start;
  margin-top: 0.8rem;
}
.column--comment {
  border-radius: 15px;
  margin-left: 28px;
}

.image--comment {
  max-width: 260px;
  border-radius: 15px;
  margin-left: unset;
}

.content--comment {
  background-color: rgba(219, 219, 219, 0.822);
  border-radius: 15px;
  padding: 0.8rem 15px;
  margin-bottom: 0.2rem;
}

.mat-card-content {
  margin-bottom: 1.1rem;
}
.mat-card-title--comment {
  margin-bottom: 0.4rem;
}
.contenteditable--comment {
  outline: unset;
}

.container-fluid--between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.temperature {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-weight: 500;
  font-size: 1rem;
  text-transform: capitalize;
  line-height: 2.6rem;
  margin-bottom: unset;
}

.mat-card-content--comment {
  margin-bottom: unset;
}

.absolute {
  position: absolute;
  top: 0;
  right: 0;
}
