.none {
    display: none;
}

.btn-submit--mid {
    width: 50%;
    margin: auto;
}

.publication {
    &--form {
        display: flex;
        flex-direction: column;
        padding: 5px;
    }
}

.container {
    position: relative;
    width: 400px;
    border-radius: 10px;
    border-radius: 10px;
}

.cross {
    position: absolute;
    top: -20px;
    right: -20px;
    background-color: unset;
}

.custom-color {
    color: hsla(134, 48%, 51%, 1);
}
.custom-font-color {
    color: #65676b;
}
