.container {
  position: relative;
  width: 400px;
  border-radius: 10px;
  border-radius: 10px;
}

.publication-form {
  display: flex;
  flex-direction: column;
  padding: 5px;
}

.mat-flat-button--custom {
  position: absolute;
  top: -20px;
  right: -20px;
  background-color: unset;
}

.display-none {
  display: none;
}

.mat-button--color {
  color: #65676b;
}

.mat-icon--color {
  color: hsla(134, 48%, 51%, 1);
}

.mat-raised-button--mid {
  width: 50%;
  margin: auto;
}
