



.header {
  background-color: hsla(218, 70%, 15%, 1);

  &__nav {
    width: 100%;
    max-width: 1400px;
    margin: auto;
    display: flex;
    padding: 20px;
    justify-content: space-between;
    border-bottom: thin solid black;

    &__brand {
      &__logo {
        height: 30px;
        margin-left: 5%;
      }
    }
    &__container {
      align-self: center;
      width: 30%;
    }
  }
}

.nav {
  justify-content: flex-end;
  list-style: none;
  display: flex;

  &__navList {
    margin: 0 15px;

    &__navLink {
      color: whitesmoke;
      font-weight: 400;
      text-decoration: none;
      cursor: pointer;
      &:hover {
        text-decoration: underline;
      }
      &.active {
  font-weight: 700;
  text-decoration: underline;
}
    }
  }
}